<!DOCTYPE html>
<html lang="kr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Cywell Members LIST</title>

    <!-- Bootstrap core CSS-->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>


</head>

<script src="https://unpkg.com/vue"></script>

<body>

    <script type="text/javascript">


        var a = "[[${username}]]";

        function abc() {
            alert(a);
        }



    </script>



    <script type="text/javascript">

        new Vue({
            el: '#app',
            data: {
                message: 'kim ji tae'
            }
        })
    </script>


<form role="form" th:action="@{/memberList}" th:object="${loginVO}" action="#" id="loginForm" method="post">

    <div id="app">
        <p>{{ message }}</p>
    </div>

    <div class="container">

        <div class="jumbotron mt-3">

            <h1 th:text="'Welcome to ' + ${username}"></h1>
            <p th:text="'현재시간 : ' + ${#dates.format(new java.util.Date(), 'yyyy-MM-dd HH:mm')}"></p>
            <p style="float:right;" class="btn pull-right" th:text="'Total : ' + ${cnt.CNT} + '명'"></p>

            <div class="input-group mb-3">
                <input name="searchNm" th:value="${params.searchNm}" class="form-control" placeholder="이름">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">찾기11</button>
                    <!--<input type="button"  id="test1" value="Alert!" th:onclick=th:onclick="|javascript:abc()|">-->
                    <a th:text="thtext" th:onclick="|javascript:abc()|"></a>
                </div>
            </div>

            <table class="table table-striped">
                <tr>
                    <th>이름</th>
                    <th>ID</th>
                    <th>email</th>
                </tr>
                <tr th:each="list: ${resultMap.list}">
                    <td th:text="${list.USERNM}">USERNM</td>
                    <td th:text="${list.USERID}">USERID</td>
                    <td th:text="${list.EMAIL}">EMAIL</td>
                </tr>
            </table>
        </div>

    </div> <!-- /container -->
</form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>
</html>